---
---

$wrap: 800px;

.feature {
  display: flex;
  flex-wrap: wrap; /* Ensure images and text wrap to the next line if needed */
  justify-content: space-between; /* Distribute items evenly across the container */
  align-items: center; /* Align items vertically */
  gap: 20px; /* Add space between images and text */
  margin-top: 20px;
  margin-bottom: 60px;
}

.feature-image img {
  width: 100%; 
  max-height: 200px;
  object-fit: cover;
}

.feature-text {
  flex: 1; /* Allow text to take up remaining space */
}

.feature-title {
  font-size: var(--large);
  text-align: center;
  font-family: var(--heading);
  font-weight: var(--semi-bold);
}

.feature[data-flip] {
  flex-direction: row-reverse;
}

@media (max-width: $wrap) {
  .feature {
    flex-direction: column !important;
  }

  .feature-image {
    width: 100%;
    max-width: calc($wrap / 2);
  }
}
